<div class="container">
	<div class="card-panel pt0 hovicon" id="files">
		<div class="bottom-buffer">
			Meus arquivos pessoais 
			<div class="right">
				<i class="material-icons link" ng-click="Dash.toogleMode()">view_@{Dash.mode}</i>
			</div>
		</div>
		<div class="row">
			<ul class="collection" ng-show="Dash.mode!='list'">
				<li class="collection-item center-align" ng-repeat="file in File.files | filter: Dash.itens_filter">
					<div>
						@{file.name}
						<div class="actions">
							<a ng-href="/file/download/@{file._id}"><i class="material-icons">cloud_download</i></a>
				    	<a ng-href="/file/@{file._id}"><i class="material-icons">remove_red_eye</i></a>
				    	<a><i class="material-icons" d="card-@{$index}" ng-click="File.delete('card-'+$index, file._id)">delete</i></a>
						</div>
					</div>
				</li>
			</ul>
			<div class="col s4" ng-repeat="file in File.files | filter: Dash.itens_filter">
				<div class="card" ng-show="Dash.mode!='module'">
			    <div class="card-image mini waves-effect waves-block waves-light">
			      <div ng-if="file.type=='image'">
				      <img class="activator" alt="" 
				      	ng-src="@{file.path}@{file._id}_icon.jpg">			      	
			      </div>
			      <span ng-show="file.type=='document'" class="miniatura">
			      	<i class="fa fa-file fa-3x" aria-hidden="true"></i>
			      </span>
			    </div>
			    <div class="card-content">
						<p>@{file.name}</p>
			    </div>
			    <div class="card-action right-align">
			    	<a ng-href="/file/download/@{file._id}"><i class="material-icons">cloud_download</i></a>
			    	<a ng-href="/file/@{file._id}"><i class="material-icons">remove_red_eye</i></a>
			    	<i class="material-icons" id="card-@{$index}" ng-click="File.delete('card-'+$index, file._id)">delete</i>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>