/*
* @Author: felipe
* @Date:   2016-07-16 15:19:09
* @Last Modified by:   felipe
* @Last Modified time: 2016-07-16 15:19:09
*/

body {
	color: #333;
}

h1, h2 {
  font-family: TitleFont;
	font-size: 5em;
}
h2 {
	font-size: 4em;
}
.flow-text {
  font-size: 1.1em;
}
.full-width {
	width: 100%;
}

.logo {
	margin-top: 5px;
	font-size: 45px;
	margin-left: 20px;
	color: rgba(255, 255, 255, 0.9);
}

.input-field label.active {
	padding-bottom: 3px;
}

.transparent-btn {
  position: absolute;
  line-height: 68px;
  height: 70px;
  width: 180px;
  top: 50%;
  margin-top: -45px;
  left: 50%;
  margin-left: -90px;
  font-family: OpenSans;
  background: rgba(0,0,0,0.2);
  border: thin solid white;
  color: white;
  border-radius: 35px;
  font-size: 1.2em;
  font-weight: 100;
  cursor: pointer;
  transition: background-color 0.5s ease;
  outline: none;
  text-align: center
}
.transparent-btn:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(255,255,255,0.2);
}