/*
* @Author: felipe
* @Date:   2016-07-18 03:00:42
* @Last Modified by:   felipe
* @Last Modified time: 2016-07-18 03:00:42
*/
.side-nav li {
	line-height: 1em;
}
.side-nav, .side-nav .logo {
	color: #333;
}
.side-nav .material-icons, .side-nav [class*='icon-'], .side-nav span, .side-nav .side-block {
	float: left;
	display: block;
	height: 100%;
	margin-top: 0;
	line-height: 64px;
	margin-right: 5px;
}
.card .mini {
	height: 180px;
} 
.card .mini img {
	height: 100% !important;
	width: auto !important;
}
.miniatura {
	min-height: 170px;
	display: block;
	line-height: 200px;
	text-align: center;
	background-color: #FAFAFA;
}

#files .card .card-action, #files .card .card-content, #files .card .card-action a {
	padding: 10px;
}
#files .card .card-content p {
	text-overflow: ellipsis;
	overflow:hidden;
	white-space:nowrap	
}
#files .card .card-action i {
	cursor: pointer;
}
#files .card .card-action a, #files .actions a {
	color: #444;
	font-size: 1.1em;
	margin-right: 5px;
	overflow: hidden;
}
.actions {
	overflow: hidden;
}
#files .collection .collection-item {
	overflow: hidden;	
}
.bottom-buffer {
	margin-bottom: 20px;
}