<style type="text/css">
	input[type=number]:focus {
		border-bottom: 1px solid blue !important;
	}
	h4, h5 {
		text-transform: uppercase;
	}
</style>

<div class="navbar-fixed">
	<nav class="blue">
		<div class="nav-wrapper container">
		  <div class="row">
		  	<div class="col l2 m2 s3">
				  <a href="/#/dashboard"><i class="icon-logo logo"></i></a>
		  	</div>
		  	<div class="col l7 m9 s7">
			  	<form class="form">
			      <div class="input-field">
			        <input id="search" type="search" ng-model="Campaign.itens_filter" required>
			        <label for="search"><i class="material-icons">search</i></label>
			        <i class="material-icons">close</i>
			      </div>
			    </form>
		  	</div>
		  	<div class="col l3 m1 s2">
				  <ul class="right">
						<li>
							<a data-target="dices" class="tooltipped modal-trigger" data-position="bottom" data-delay="25" data-tooltip="Rolar dados">
								<i class="icon-d20"></i>
							</a>
						</li>
				  </ul>
		  	</div>
		  </div>
		</div>
  </nav>
</div>

<div ng-controller="DicesController as Dices">
	<!-- Modal Structure -->
	<div id="dices" class="modal">
	  <div class="modal-content">
	    <div class="">
		    <h4>Dados disponíveis</h4>
		    <p>Selecione os dados que deseja rolar</p>
		    <div class="row">
		    	<div class="dice col l2 center-align">
			    	<i class="icon-d20" ng-click="Dices.add('d20')"></i>
			    	<input type="number" ng-show="Dices.formData.d20" ng-model="Dices.formData.d20" ng-init="Dices.formData.d20 = 0" min="0" class="center-align waves-effect waves-blue">
		    	</div>
		    	<div class="dice col l2 center-align">
			    	<i class="icon-d12" ng-click="Dices.add('d12')">D12</i>
			    	<input type="number" ng-show="Dices.formData.d12" ng-model="Dices.formData.d12" ng-init="Dices.formData.d12 = 0" min="0" class="center-align waves-effect waves-blue">
		    	</div>
		    	<div class="dice col l2 center-align">
			    	<i class="icon-d10" ng-click="Dices.add('d10')">D10</i>
			    	<input type="number" ng-show="Dices.formData.d10" ng-model="Dices.formData.d10" ng-init="Dices.formData.d10 = 0" min="0" class="center-align waves-effect waves-blue">
		    	</div>
		    	<div class="dice col l2 center-align">
			    	<i class="icon-d8" ng-click="Dices.add('d8')">D8</i>
			    	<input type="number" ng-show="Dices.formData.d8" ng-model="Dices.formData.d8" ng-init="Dices.formData.d8 = 0" min="0" class="center-align waves-effect waves-blue">
		    	</div>
		    	<div class="dice col l2 center-align">
			    	<i class="icon-d6" ng-click="Dices.add('d6')">D6</i>
			    	<input type="number" ng-show="Dices.formData.d6" ng-model="Dices.formData.d6" ng-init="Dices.formData.d6 = 0" min="0" class="center-align waves-effect waves-blue">
		    	</div>
		    	<div class="dice col l2 center-align">
			    	<i class="icon-d4" ng-click="Dices.add('d4')">D4</i>
			    	<input type="number" ng-show="Dices.formData.d4" ng-model="Dices.formData.d4" ng-init="Dices.formData.d4 = 0" min="0" class="center-align waves-effect waves-blue">
		    	</div>
		    	<div class="dice col l2 center-align">
			    	<i class="icon-d2" ng-click="Dices.add('d2')">D2</i>
			    	<input type="number" ng-show="Dices.formData.d2" ng-model="Dices.formData.d2" ng-init="Dices.formData.d2 = 0" min="0" class="center-align waves-effect waves-blue">
		    	</div>
		    </div>
	    </div>
	  </div>
	  <div class="modal-footer">
	    <button data-target="result" class="modal-action modal-close modal-trigger waves-effect waves-light blue btn-large" ng-click="Dices.rolar()">Rolar dados</button>
	  </div>
	</div>
	<!-- Modal Structure -->
	<div id="result" class="modal modal-fixed-footer">
	  <div class="modal-content">
	  	<h4>Resultado da rolagem</h4>
	  	<div ng-repeat="(key, value) in Dices.arrResul">
	    	<h5>@{key}</h5>
	    	<span class="block circle blue white-text" ng-repeat="resul in value track by $index" >
	    		@{resul}
	    	</span>
	    </div>
	    <div class="card-panel red" ng-hide="Dices.sizeResul">
	    	<div class="card-content white-text">
	    		Nenhum dado foi seleciono para ser jogado
	    	</div>
	    </div>
	  </div>
	  <div class="modal-footer">
	    <button class="modal-action modal-close waves-effect waves-light blue btn">OK</button>
	  </div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
    $('.tooltipped').tooltip({delay: 50});
  });
</script>