<img src="/images/wallpaper.jpg" alt="Imagem de fundo" class="position-@{User.position} background hide-on-med-and-down" />
<img src="/images/wallpaper.jpg" alt="Imagem de fundo" class="position-@{User.position} background-md hide-on-small-only hide-on-large-only" />
<img src="/images/wallpaper.jpg" alt="Imagem de fundo" class="position-@{User.position} background-sm hide-on-med-and-up" />
<div class="corpo">
  <div class="container">
    <div class="row">
      <div class="col col s12 m8 l6 offset-m2 offset-l3 waves-effect center-align">
        <form name="formLogin" ng-submit="User.sigup()" novalidate>
          <div class="row">
            <h1 class="title text-center"><i style="font-size: 80px;" class="icon-logo"></i> RPGi</h1>
          </div>
          <div class="row">
            <div class="col s10 offset-s1">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" id="name" name="name" ng-model="User.formData.name" class="form-control" required>
                  <label for="name">Nome</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="email" ng-model="User.formData.email" id="email" class="form-control" required>
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="password" id="password" name="password" ng-model="User.formData.password" class="form-control" required>
                  <label for="password">Senha</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="password" id="passwordConfirm" name="passwordConfirm" ng-model="passwordConfirm"class="form-control" required>
                  <label for="passwordConfirm">Confirmação da senha</label>
                </div>
              </div>
              <div class="input-field">
                <button type="submit" class="btn full-width btn-large" name="button" ng-disabled="!formLogin.$valid" ng-class="formLogin.$valid ? '':'disabled'" >Criar conta</button>
              </div>
            </div>
          </div>
          <input type="hidden" name="_token" ng-model="User.formData._token" value="@{User.token}">
          <div class="row top-buffer">
            <a href="/#/sigin">Voltar</a>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>